# note: make these https such that github actions etc can pull without ssh access
[submodule "external/hdf5_io"]
	path = external/hdf5_io
	url = https://github.com/tenpy/hdf5_io.git
[submodule "external/SUN_symbols"]
	path = external/SUN_symbols
	url = https://github.com/tenpy/SUN_symbols.git
