# usage: conda env create -f environment.yml
# then: pip install --no-build-isolation .

# note: if you want to build docs as well, use docs/environment.yml instead
name: cyten
channels:
  - conda-forge
dependencies:
  - python>=3.10
  - pip
  - setuptools>=68.0.0
  - pybind11
  - scikit-build-core
  - numpy>=2.0
  - scipy
  - boost
  - libboost
  - openblas
  - cmake
  # alteratively use MKL instead of openblas
  # - mkl
  # - mkl-devel
  # - libblas=*=*mkl  # pin BLAS to use MKL
  # Testing
  - pytest>=6.0
  - sympy

  # developer tools
  - ipython
  - ruff
  - flake8
  - flake8-rst-docstrings
  - sphinx-lint

  # building docs
  # - doxygen
  # - sphinx
  # - sphinx_rtd_theme
  # - graphviz
  # - sphinx-copybutton
  # - pip:
  #   - breathe  # conda-forge version seems incompatible

  # I/O (to be added later...)
  # - hdf5
  - h5py
  # - pyyaml
