name: Run Pytest (torch)
# Run the test suite using pytest

on:
  # pushes to main
  push:
    branches:
      - main
  # PRs
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]


jobs:
  build:
    if: github.event.pull_request.draft == false

    runs-on: ubuntu-latest
    env:
      # make pytest output in color
      PY_COLORS: 1

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools build

    - name: Build and install
      # also installs extra dependencies defined in pyproject.toml
      run: |
        python -m build .
        python -m pip install -e ".[test, gpu]"

    - name: Run pytest
      # configuration in pyproject.toml
      # Note: This runs in the repo root directory, which contains the cyten source folder.
      #       To use the version we just installed, it is important to run `pytest`
      #       instead of `python -m pytest`.
      run: pytest --block-backends "torch"
